<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="Nav">
      <div class="Nav-Link">
        <span class="Brand">My Note App</span>
      </div>
      <div class="Nav-Link">
        <a href="/notes/all">All Notes</a>
      </div>
      <div class="Nav-Link">
        <a href="/notes/new">New Note</a>
      </div>
      <div class="Nav-Link">
        <a href="/tasks/all">All Tasks</a>
      </div>
      <div class="Nav-Link">
        <a href="/tasks/new">New Task</a>
      </div>
      <div class="Nav-Link">
        <a href="/users/all">All Users</a>
      </div>
      <div class="Nav-Link">
        <a href="/users/new">New User</a>
      </div>
      <div class="Nav-Link">
        <a href="/notebooks/all">All Notebook</a>
      </div>
      <div class="Nav-Link">
        <a href="/notebooks/new">New Notebook</a>
      </div>
    </div>
    <div class="Table">

    </div>
    <div class="Page-Container">
      <%= yield %>
    </div>
  </body>
</html>
