<html>
  <body>
    <div class="Page-Container">
      <h1>New Note</h1>
      <form method="post" action="/notes/new">
        <div>
          <input type="text" name="user_id" placeholder="User Id" />
        </div>
        <div>
          <input type="text" name="comment" placeholder="Comment" />
        </div>
        <div>
          <input type="text" name="category" placeholder="Category" />
        </div>
        <div>
          <input type="text" name="notebook_id" placeholder="Notebook Id" />
        </div>
        <br>
        <div>
          <input id="create-button" type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>

