<html>
  <body>
    <div class="Page-Container">
      <h1>New Task</h1>
      <form method="post" action="/tasks/new">
        <div>
          <input type="text" name="description" placeholder="Description" />
        </div>
        <div>
          <input type="text" name="completed" placeholder="Completed"/>
        </div>
        <div>
          <input type="date" name="due_at" placeholder="Due At"/>
        </div>
        <br>
        <div>
          <input id="create-button" type="submit" />
        </div>
      </form>
    </div>
  </body>
</html>

